<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
    </exclude>
  </coverage>
  <!--Example <php>-->
  <!--<var name="db_dsn" value="mysql:dbname=hello_world_test;host=localhost"/>-->
  <!--<var name="db_username" value="root"/>-->
  <!--<var name="db_password" value=""/>-->
  <!--</php>-->
  <testsuites>
    <testsuite name="SPARQL Test Suite">
      <!--directory>./tests/</directory-->
      <file>./tests/ParserSparqlResultTest.php</file>
      <file>./tests/ParserSparqlTest.php</file>
      <file>./tests/SparqlClientTest.php</file>
      <file>./tests/virtuosoTest.php</file>
      <file>./tests/ParserCsvTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
